<div class="carousel">
    <div appOwlCarousel [options]="options">
        <div class="item" *ngFor="let carro of destaque">
            <div class="bg" [ngStyle]="{ 'background-image': carro.imagens[0] | background }"></div>
            <div class="shadow"></div>

            <div class="container-text">
                <div class="d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="title">{{ carro.nome }}</div>
                        <div class="description">{{ carro.descricao }}</div>
                        <div class="price">{{ carro.preco | currency }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-container carousel-footer">
        <button type="button" class="btn-explore">Ver mais carros</button>
    </div>
</div>