<div class="carousel">
    <div class="shadow"></div>
    <div appOwlCarousel [options]="options">
        <div class="item">
            <div class="bg" [ngStyle]="{ 'background-image': 'url(/assets/img/carros/azera/01.png)' }"></div>
            <div class="shadow"></div>

            <div class="container-text">
                <div class="d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="title">Azera</div>
                        <div class="description">3.3 V6</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bg" [ngStyle]="{ 'background-image': 'url(/assets/img/carros/honda_fit/01.png)' }"></div>
            <div class="shadow"></div>

            <div class="container-text">
                <div class="d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="title">Honda FIT</div>
                        <div class="description">2.0 V4</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bg" [ngStyle]="{ 'background-image': 'url(/assets/img/carros/astra/01.png)' }"></div>
            <div class="shadow"></div>

            <div class="container-text">
                <div class="d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="title">Astra</div>
                        <div class="description">2.0 Beberrrão</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-container carousel-footer">
        <button type="button" class="btn-explore">Ver mais carros</button>
    </div>
</div>